body{
    background:linear-gradient(white,violet);
    display:grid;
    place-items:center;


}
#result{
    width:430px;
    height:40px;
    font-size:30px;
    align-items: center;
}
h1{
    background-color: beige;
    text-align: center;
    width: 1000px;
}
table{
    width:30px;
    height:60px;
    background:linear-gradient(white);
    align-items: center;
    
}
td{
    width:80px;
    height:10px;
    font-size:100px;
    top:200px;
}
button{
    width:90px;
    height:60px;
    font-size:18px;
    border-radius:10px 10px 10px 10px;
}
